<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>Bad Request</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div style="width:100%; height:100%; background-color:#006266; justify-content:center; align-items:center; padding: 100px;">
            <h1 style="color: #eb4d4b;">Operation not supported</h1>
            <a href="{{home}}">
                Go home
            </a>
        </div>
    </body>
</html>
