ENVIRONMENT=prod

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=changeme
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SETTINGS_MODULE=nsra.settings.local

DEBUG=on

SECRET_KEY=

DJANGO_SECURE_SSL_REDIRECT=

ADMINS=admin,admin@admin.com

ALLOWED_HOSTS=*

BASE_URL=http://127.0.0.1:8000

EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525 
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_SSL_CERTFILE=
EMAIL_SSL_KEYFILE=
EMAIL_TIMEOUT=
EMAIL_USE_LOCALTIME=false
EMAIL_SUBJECT_PREFIX=

DATABASE_URL=sqlite://./prod-db.sqlite3

CACHE_URL=

MEDIA_BUCKET_SERVICE=

GS_PROJECT_ID=
GS_BUCKET_NAME=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SESSION_TOKEN=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

ELASTICSEARCH_URL=
ELASTICSEARCH_PORT=
ELASTICSEARCH_USE_SSL=
ELASTICSEARCH_TIMEOUT=
ELASTICSEARCH_VERIFY_CERTS=

FILE_LOG_LEVEL=ERROR
MAIL_LOG_LEVEL=CRITICAL

DB_NAME=nsra
POSTGRES_PASSWORD=changeme

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=changeme

APP_PORT=2001
REDIS_PORT=2002
PGADMIN_PORT=2003
POSTGRES_PORT=2004
ELASTICSEARCH_PORT=2005

GOOGLE_MAP_API_KEY=