{% load static wagtailcore_tags wagtailuserbar wagtailsettings_tags wagtailimages_tags global_tags %} 
{% get_settings as settings %} 

<footer class="copyright">
    <div class="copyright_footer">
      <div class="copyright_text">
        {{ settings.base.Settings.copyright_text|richtext}} 
      </div>
      <div class="footer_social_icons">
          {% if settings.base.Settings.social.twitter %}
            <a href='{{ settings.base.Settings.social.twitter }}' target="_blank" class="fa fa-twitter-square social_icons_color" aria-hidden="true"></a>
          {% endif %} 

          {% if settings.base.Settings.social.facebook %}
            <a href='{{ settings.base.Settings.social.facebook }}' target="_blank" class="fa fa-facebook-square social_icons_color" aria-hidden="true"></a>
          {% endif %} 

          {% if settings.base.Settings.social.instagram %}
            <a href={{ settings.base.Settings.social.instagram }} target="_blank" class="fa fa-instagram social_icons_color" aria-hidden="true"></a>
          {% endif %} 

          {% if settings.base.Settings.social.pinterest %}
            <a href={{ settings.base.Settings.social.pinterest }} target="_blank" class="fa fa-pinterest-square social_icons_color" aria-hidden="true"></a>
          {% endif %} 

          {% if settings.base.Settings.social.tumblr %}
            <a href={{ settings.base.Settings.social.tumblr }} target="_blank" class="fa fa-tumblr-square social_icons_color" aria-hidden="true"></a>
          {% endif %} 

          {% if settings.base.Settings.social.linkedin %}
            <a href={{ settings.base.Settings.social.linkedin }} target="_blank" class="fa fa-linkedin-square social_icons_color" aria-hidden="true"></a>
          {% endif %} 

          {% if settings.base.Settings.social.youtube %}
            <a href={{ settings.base.Settings.social.youtube }} target="_blank" class="fa fa-youtube-play social_icons_color" aria-hidden="true"></a>
          {% endif %} 

          {% if settings.base.Settings.social.reddit %}
            <a href={{ settings.base.Settings.social.reddit }} target="_blank" class="fa fa-reddit-square social_icons_color" aria-hidden="true"></a>
          {% endif %} 
    </div>
  </footer>