{% load filters %}

<style>
    .disabled-color {
        color: #2d3436;
    }

    .no-margin {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sticky {
        position: sticky;
        top: 0px;
        z-index: 6;
    }

    @media
        (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }

</style>

{% with urls=page.get_site.root_page.get_static_site_paths|to_list %}
    <div class="navigation sticky">
        <nav class="nav_menu" style="margin-top: 10px;">

            <li class="nav-link no-margin {% if '/' not in urls %} disabled {% endif %}"><a href="/"><img src="{{ logo.url }}" class="logo"></a></li>
            <li class="menu_item nav-link no-margin {% if '/' not in urls %} disabled {% endif %}">
                <a href="/"> 
                    <span class="{% if '/' not in urls %} disabled-color {% endif %}">Home</span> 
                </a>
            </li>

            <li class="menu_item nav-link no-margin {% if '/about-us/' not in urls %} disabled {% endif %}">
                <a href="/about-us"> 
                    <span class="{% if '/about-us/' not in urls %} disabled-color {% endif %}">About NRSA</span> 
                </a>
            </li>
            
            <li class="menu_item nav-link no-margin {% if '/activities/' not in urls %} disabled {% endif %}">
                <a href="/activities"> 
                    <span class="{% if '/activities/' not in urls %} disabled-color {% endif %}">Activities</span> 
                </a>
            </li>
            
            <li class="menu_item nav-link no-margin {% if '/news-and-events/' not in urls %} disabled disabled-color {% endif %}">
                <a href="/news-and-events"> 
                    <span class="{% if '/news-and-events/' not in urls %} disabled-color {% endif %}">News & Events</span> 
                </a>
            </li>
            
            <li class="menu_item nav-link no-margin {% if '/publications-and-research/' not in urls %} disabled disabled-color {% endif %}">
                <a href="/publications-and-research"> 
                    <span class=" {% if '/publications-and-research/' not in urls %} disabled-color {% endif %}">Publications & Research</span>
                </a>
            </li>
            
            <li class="menu_item nav-link no-margin {% if '/statistics/' not in urls %} disabled disabled-color {% endif %}">
                <a href="/statistics"> 
                    <span class="{% if '/statistics/' not in urls %} disabled-color {% endif %}">Statistics</span> 
                </a>
            </li>
            
            <li class="menu_item nav-link no-margin {% if '/contact/' not in urls %} disabled {% endif %}">
                <a href="/contact"> 
                    <span class="{% if '/contact/' not in urls %} disabled-color {% endif %}">Contact Us</span> 
                </a>
            </li>
        </nav>
    </div>

    <!-- nav_menu_mobile -->
    <div class="navigation sticky">
        <nav class="nav_menu nav_menu_mobile">
            <li class="menu_item nav-link"><a href="/">Home</a></li>
            {% if '/about-us/' in urls %}
                <li class="menu_item nav-link"><a href="/about-us">About NRSA</a></li>
            {% endif %}
            {% if '/activities/' in urls %}
                <li class="menu_item nav-link"><a href="/activities">Activities</a></li>
            {% endif %}
            {% if '/news-and-events/' in urls %}
                <li class="menu_item nav-link"><a href="/news-and-events">News & Events</a></li>
            {% endif %}
            {% if '/publications-and-research/' in urls %}
                <li class="menu_item nav-link"><a href="/publications-and-research">Publications & Research</a></li>
            {% endif %}
            {% if '/statistics/' in urls %}
                <li class="menu_item nav-link"><a href="/statistics">Statistics</a></li>
            {% endif %}
            {% if '/contact/' in urls %}
                <li class="menu_item nav-link"><a href="/contact"> Contact </a></li>
            {% endif %}
        </nav>
    </div>
{% endwith %}