{% load wagtailimages_tags %}

<style>
    img {
        width: 100%;
        max-height: inherit;
        object-fit: cover;
    }
</style>

<div style="max-width:100%; max-height: 500px; display: flex; flex-direction: column;border-radius: 0 0 5px 5px;">

    {% image self.image max-400x400 as hldr %}
    <img src="{{hldr.url}}" alt="image" width="100%" >

    <figcaption class="grid_img_desc">
        <h5 style="line-height: 1;">{{ self.caption }}</h5>
        <p style="line-height: 1;">{{ self.attribution }}</p>
    </figcaption>

</div>