{% extends "base.html" %}
{% load wagtailcore_tags global_tags wagtailimages_tags static %}
{% block body_class %}template-galleryindexpage{% endblock %}

<!-- Banner section -->
{% block navigation %}
    {% include "includes/nav-solid.html"  %}
{% endblock navigation %}
{% csrf_token %} 

{% block extra_css %}
<style>
    .caption-overlay {
        position: absolute; 
        top: 0%; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.8); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .3s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .carousel-item:hover .caption-overlay {
        opacity: 1;
    }
</style>
{% endblock extra_css %}

{% block content %}
    {% include "includes/back_to_top.html" %}
    <!-- Title & Breadcrumb section -->
    {% image page.hero_image original as bgimage %}
    <div class="title_section_pr" style="background-image: url({{bgimage.url}}); ">
        <div>
            <h4 class="title_heading" style="color: #ffffff ;">{{page.title}}</h4>
            {% breadcrumbs %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="slideShowModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="slideShowModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-fullscreen-sm-down" style="margin: 0;padding: 0;">
            <div class="modal-content" style="width: 100vw; height: 100vh; background: none;">
                
                <div class="modal-header" style="border: 0;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeBtn"></button>
                </div>

                <div style="height: 100%; width:100%; padding: 0 50px 50px 50px;">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width:100%; height: 100%; justify-content: center;align-items: center; display: block;">
                        <div class="carousel-inner" style="height: 100%; width: 100%;" id="gallery-images-container">
                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>
    
    <!-- About Section --> 
    {% for block in page.body %}
        <section class="section_s section_dark">
            <div class="section_one_grid">
                {% if block.block_type == 'grid' %}
                    <div style="column-gap: 20px; row-gap: 50px; display: grid; grid-template-columns: repeat(auto-fit, minmax(min(300px), 1fr)); padding-bottom: 20px;align-items:flex-start;">
                        {% for block in block.value %}
                            <section class="block-{{ block.block_type }}" style="width: 100%;" >
                                {% include_block block %}
                            </section>       
                        {% endfor %}
                    </div>
                    
                    
                {% else %}
                    {% for block in block.value %}
                        <section class="block-{{ block.block_type }}">
                            {% include_block block %}
                        </section>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    {% endfor %}

    <!-- Main Section --> 
    <div class="section">
        <div class="body_width">
            
            <!-- Galleries Section --> 
            <a target="_blank" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#slideShowModal">
                <div style="column-gap: calc(25% - 250px); row-gap: 20px; display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); padding-bottom: 20px; width: 100%;">            
                    {% for gallery in galleries %}
                        {% image gallery.main_image original as hldr %}
                        <div class="gallery-container" id="link-{{gallery.name}}" data-images="{{gallery.get_images}}" onclick="loadImages('link-{{gallery.name}}')" data-image-count="{{gallery.get_image_count}}" style="background-color: red;">
                            <img src="{{hldr.url}}" alt="gallery image" class="gallery-image">
                            <div class="gallery-overlay">
                                <div class="gallery-text" style="padding: 10px;">
                                    <p style="text-align: center; font-size: 14px; white-space: pre-wrap;line-height: 1.4;width: 230px;">{{gallery.name|slice:":70"}}{% if gallery.name|length > 45 %}...{%endif%}</p>
                                    <p style="text-align: center; font-size: x-small; white-space: pre-wrap;line-height: 1.3;width: 230px;"><em>{{gallery.description|slice:":180"}}{% if gallery.description|length > 180 %}...{%endif%}</em></p>
                                    <p style="text-align: center; font-size: xx-small; background-color: #182C61;border-radius: 12px; line-height: 1.5;width: 230px;"><em>{{gallery.get_image_count}} image(s)</em></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </a>
             

        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script>

    // document.getElementById("closeBtn").addEventListener("click", reset);

    function reset(){
        const elems = document.querySelector("[id^='sub-link-xxx-']")
        for (const idx in elems){
            let elem = elems[idx]
            if(elem){
                elem.classList.remove("active");
            }
        }
    }

    
    function loadImages(id){
        // reset();
        const gallery= document.getElementById(id)
        const image_count = gallery.getAttribute("data-image-count")
        const images = JSON.parse(gallery.getAttribute("data-images"))
        let div = document.getElementById("gallery-images-container");

        div.innerHTML=''
        for (const idx in images){
            let img = images[idx]
            div.innerHTML +=`
                <div class="carousel-item ${idx == 0 ? 'active':''} " style="height: 100%; width: 100%;" id="sub-link-xxx-${idx}">
                    <img src="${img[0]}" style="width:100%;height:95%;object-fit: contain;" alt="image">
                    ${ img[1] ? `<div class="caption-overlay"><p>${img[1]}</p></div>` : ''} 
                    <p style="color:#fff; text-align:center; font-weight: 500;"> <em>${parseInt(idx)+1} out of ${image_count}</em></p>
                </div>
            `
        }
    }

</script>
{% endblock extra_js %}