{% extends "base.html" %}
{% load wagtailcore_tags global_tags wagtailimages_tags static filters %}
{% block body_class %}template-galleryindexpage{% endblock %}

<!-- Banner section -->
{% block navigation %}
    {% include "includes/nav-solid.html"  %}
{% endblock navigation %}
{% csrf_token %} 

{% block extra_css %}
<style>
    .single-grid {
        display:flex; 
        flex-direction: row; 
        width: 100%; 
        gap: 30px; 
        align-items: center;
    }

    .single-grid-2 {
        display:flex; 
        flex-direction: row; 
        width: 100%; 
        gap: 30px; 
        align-items: center;
    }

    @media screen and (max-width: 900px) {
        .single-grid {
        display:flex; 
        flex-direction: column; 
        width: 100%; 
        gap: 30px; 
        align-items: center;
    }
    }

</style>
{% endblock extra_css %}

{% block content %}
    {% include "includes/back_to_top.html" %}
    <!-- Title & Breadcrumb section -->
    {% image page.hero_image original as bgimage %}
    <div class="title_section_pr" style="background-image: url({{bgimage.url}}); ">
        <div>
            <h4 class="title_heading" style="color: #ffffff ;">{{page.title}}</h4>
            {% breadcrumbs %}
        </div>
    </div>

    {% if page.body or page.director_image %}
    <section class="section" style="background-color: #e9ac06;padding: 50px">
        <div class="body_width" style="width: 80%;">
            <div class="single-grid">
                {% if page.body %}
                <div style="width: 100%; color: black; text-align: justify;">
                    {{page.body|richtext}}
                </div>
                {% endif %}
                {% if page.director_image %}
                <div style="width: 100%;display: flex; justify-content: center; align-items: center;">
                    {% image page.director_image fill-400x400-c100 as hldr %}
                    <img src="{{hldr.url}}" alt="image" height="100%"
                        {% if hldr.focal_point %}
                            data-focus-x="{{ hldr.focal_point.centroid.x }}"
                            data-focus-y="{{ hldr.focal_point.centroid.y }}"
                            data-focus-width="{{ hldr.focal_point.width }}"
                            data-focus-height="{{ hldr.focal_point.height }}"
                        {% endif %}
                    >
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}

    {% if page.address or page.map_long_lat and page.map_zoom and page.map_type %}
    <section class="section" style="background-color: #006633; padding: 50px;margin-bottom: 0;">
        <div class="body_width" style="display:flex; flex-direction: row; align-items: center;width: 85%;">
            
            <div class="single-grid">

                {% if page.map_uri %}
                    {% if page.is_interactive%}
                        <iframe width="100%" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{page.map_uri|parse_map_uri}}" style="border: 1px solid black;background-color: #014f28;"></iframe>
                    {% else %}
                        <iframe width="100%" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{page.map_uri|parse_map_uri}}" style="border: 1px solid black;background-color: #014f28;pointer-events: none;"></iframe>
                    {% endif %}
                {% endif %}

                {% if page.address %}
                <div style="width: 100%; display: flex; flex-direction: column; padding: 0 20px 0 50px;">
                    <h6 style="color: #EB3232; text-decoration: underline; font-weight: bold;">Address</h6>
                    {% for block in page.address %}
                        {% include_block block %}
                    {% endfor %}
                </div>
                {% endif %}
            </div> 
                
        </div>
    </section>
    {% endif %}

    <section class="section">
        <div class="body_width" style="width: 85%;">
            {% if page.news.count %}
                <br/><hr/>
                <h4 class="spacing_btm_s">news</h4>
                <div class="scrollmenu">
                    {% for news in page.news.all %}
                        {% with news=news.news.specific %}
                            {% image news.main_image original as temp %}
                            
                            <a href="{% pageurl news %}" style="cursor: pointer; text-decoration: none;color:#393939" data-container="body" data-toggle="tooltip" data-placement="top" title="{{news.headline}}">
                                <div class="card_head" style="width: 200px;height: 100px;">
                                    <img style="width: 100%;" src="{{temp.url}}" alt="">
                                </div>
                                <div class="card_body reg_card_text text-box" data-title='{{news.headline}}' >
                                    <h6 style="font-size: 14px;text-align: center;">{{news.headline|slice:":97"}}{% if news.headline|length > 97 %}...{%endif%}</h6>
                                </div>
                            </a>
                
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if page.activities.count %}
                <br/><hr/>
                <h4 class="spacing_btm_s">activities</h4>
                <div class="scrollmenu">
                    {% for activity in page.activities.all %}
                        {% with activity=activity.activity.specific %}
                            {% image activity.main_image original as temp %}
                            <a href="{% pageurl activity %}" style="cursor: pointer; text-decoration: none;color:#393939" data-container="body" data-toggle="tooltip" data-placement="top" title="{{activity.headline}}">
                                <div class="card_head" style="width: 200px;height: 100px;">
                                    <img style="width: 100%;" src="{{temp.url}}" alt="">
                                </div>
                                <div class="card_body reg_card_text text-box" data-title='{{activity.headline}}' >
                                    <h6 style="font-size: 14px;text-align: center;">{{activity.headline|slice:":97"}}{% if activity.headline|length > 97 %}...{%endif%}</h6>
                                </div>
                            </a>
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if page.events.count %}
                <br/><hr/>
                <h4 class="spacing_btm_s">events</h4>
                <div class="scrollmenu">
                    {% for event in page.events.all %}
                        {% with event=event.event.specific %}
                            {% image event.main_image original as temp %}
                            <a href="{% pageurl event %}" style="cursor: pointer; text-decoration: none;color:#393939" data-container="body" data-toggle="tooltip" data-placement="top" title="{{event.headline}}">
                                <div class="card_head" style="width: 200px;height: 100px;">
                                    <img style="width: 100%;" src="{{temp.url}}" alt="">
                                </div>
                                <div class="card_body reg_card_text text-box" data-title='{{event.headline}}' >
                                    <h6 style="font-size: 14px;text-align: center;">{{event.headline|slice:":97"}}{% if event.headline|length > 97 %}...{%endif%}</h6>
                                </div>
                            </a>
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}