{% extends "wagtailadmin/base.html" %}
{% load static wagtailcore_tags  %}

{% block titletag %}Upload Data{% endblock %}

{% block content %}
<header class="merged nice-padding">
    <div class="row row-flush">
        <div class="col12">
            <h1>Data Upload Centre</h1>
            <h3>Upload data here based on Excel spreadsheet templates.</h3>

            <form action="{% pageurl page %}" method="POST"   enctype="multipart/form-data">
              {% csrf_token %}
              {{form.as_p}}
            <button type="submit" class="btn btn-primary" >Upload</button>
            </form>
        </div>
    </div>
</header>
{% endblock %}
