{% load wagtailcore_tags %}

{% if ancestors %}
<div style="display: flex; flex-direction: row; align-self: center;">
  {% for ancestor in ancestors %}
    {% if forloop.last %}
      <p aria-current="page">{{ ancestor }}</p>
    {% else %}
      <p >
        <a href="{% pageurl ancestor %}" style="color: green; font-style: oblique;">
            <strong>{% if forloop.first %}Home{% else %}{{ ancestor }}{% endif %}</strong>
        </a>
        <p> &nbsp <strong>/</strong> &nbsp </p>
      </p>
    {% endif %}
  {% endfor %}
</div>
{% endif %}